
/*--------------------*/
/*       reset        */
/*--------------------*/
@charset 'utf-8';

:root {
  /* padding */
  --global--padding: 0 1rem;

  /* colors */
  --clr-black: rgb(29, 29, 31);

  /* margin */
  --clr-mb-small: 0.5rem;
  --clr-mb-nomal: 1em;
  --clr-mb-middle: 2rem;
  --clr-mb-large: 4rem;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem; /* 56px */
  --fs-700: 1.5rem; /* 24px */
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem; /* 15px */
  --fs-300: 1rem;
  --fs-200: 0.875rem;/* 14px */
}

html {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

/* ------------------- */
/*   Utility classes   */
/* ------------------- */
.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-r {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.d-none {
  display: none;
}

/* font */
.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

/* margin */
.mb-1 { margin-bottom: var(--clr-mb-nomal)};
.mb-3 { margin-bottom: var(--clr-mb-middle) };



.mb5 { color: red;}

@keyframes pickAni {
  from {
    top: -1400%;
  }
  to {
    top: 0%;
  }
}

/*--------------------*/
/*      component     */
/*--------------------*/

nav {
  width: 100%;
  max-width: 100vw;
  height: 4rem;
  /* outline: 2px solid limegreen; */
}

.primary-header {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  height : 100%;
}

.primary-header a {
  font-size: 0.8rem;
  padding: 0 1rem;
  color: var(--clr-black);
}

.primary-header .main-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: auto;
}

/* bg-section */
.bg-section {
  position: relative;
  width: 100%;
  height: 45vh;
  background: rgba(129, 91, 3, 0.81);
}

.profile-con {
  width: 100%;
  height: 100%;
  gap: 3vh;
  /* outline: 2px solid limegreen; */
}

.img-con {
  width: 50vw;
  height: 50vw;
  margin-bottom: var(--clr-mb-mid);
  background: rgba(205, 94, 148, 0.5);
  border-radius: 50%;
  border: 2px solid var(--clr-black);
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  background-image: url('/images/blend-image-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-name {
  font-size: clamp(1rem, 5vh, 10rem);
  font-weight: bold;
  letter-spacing: 1rem;
  text-indent: 1rem;
}

.btn-section {
  gap: 1rem;
  width: 100%;
  height: 60vh;
  background:rgb(220, 197, 188);
}

/* 로그인 폼 */
.sign-in-con,
.sign-up-con {
  width: 70%;
  gap: 1rem;
}

.sign-in-form-con,
.sign-up-form-con,
.bar-con,
.sign-in-select-con,
.sign-up-select-con {
  width: 100%;
}

.sign-in-form,
.sign-up-form {
  gap: 0.25rem;
}

#sign-in-id,
#sign-in-pw,
#sign-up-id,
#sign-up-pw,
#sign-up-pwc,
#sign-up-select-btn, 
#sign-in-select-btn {
  box-sizing: border-box;
  width: 100%;
  padding: 1em 1em;
  border-radius: 5px;
  border: none;
} 

#sign-in-btn,
#sign-up-btn {
  width: 100%;
  padding: 1em 1em;
  border-radius: 5px;
}
#sign-in-select-btn,
#sign-in-btn {
  background: rgba(129, 91, 3, 0.81);
}

#sign-up-select-btn,
#sign-up-btn {
  background: dodgerblue;
}

.bar-con {
  gap: 0.25rem;
}

.bar-before,
.bar-after {
  display: inline-block;
  width: 50%;
  height: 0.5px;
  background: black;
}

.btn-con {
  height: 100%;
  gap: 2rem;
}

.enter-con {
  padding: 3vh 0;
}

.enter-con .enter-btn {
  padding: 1rem;
  font-size: 3vh;
  border: 2px solid rgba(129, 91, 3, 0.81);
  border-radius: 10px;
  transition: .3s;
}
.enter-btn:hover {
  background: rgba(129, 91, 3, 0.81);
  color: white;
}

.sns-con {
  padding: 3vh 0;
  width: 125px;
  gap: var(--global--padding);
  /* outline: 2px solid limegreen; */
}

.sns-con img {
  border-radius: 50%;
}

/* onepick page */     
.pick-1-con {
  position: relative;
  width: 35vh;
  height: 10vh;
  margin-bottom: 2rem;
  overflow: hidden;
  outline: 2px solid var(--clr-black);
  background: rgba(255, 255, 255, 0.8);
}

.pick-1-box {
  position: absolute;
  width: 100%;
  /* top: -400%; */
  left: 0;
  line-height: 1.7;
  font-size: 6vh;
  white-space: nowrap;
  animation: pickAni 5s 1 forwards cubic-bezier(0.18, 0.64, 0.64, 1.03); 
}

.pick-2-con,
.pick-3-con {
  width: 30vh;
  height: 5vh;
  margin-bottom: 1rem;
  opacity: 0;
  /* outline: 2px solid limegreen; */
}

/* .pick-2-con {
  animation: pickConMove 0.8s ease-in-out 5.7s 1 forwards;
}

.pick-3-con {
  animation: pickConMove 0.8s ease-in-out 5.9s 1 forwards;
} */

/* recommend-list */
.rec-section {
  position: relative;
  width: 100%;
  height: 50vh;
  background: rgba(255, 255, 255, 0.7);
}

.h2-logo {
  height: 4rem;
  line-height: 4rem;
  padding: 0 1rem;
}

.arrow-left,
.arrow-right {
  position: absolute;
  display: inline-block;
  top: 45%;
  z-index: 5;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.item-con {
  position: relative;
  width: 90%;
  height: 75%;
  margin-inline: auto;
  overflow: hidden;
  border: 1px solid #ddd;
}

.item-list-con {
  position: absolute;
  width: 133.333%;
  height: 100%;
  padding: 1rem 0;
  transition: 0.5s;
  /* outline: 1px solid limegreen; */
}

.item-box {
  height: 100%;
}

.item-list {
  width: 30%;
  height: 100%;
  padding: 1rem;
  text-align: center;
  border-right: 1px solid #ddd;
}

.item { /* img + item-name + price */
  position: relative;
  width: 100%;
  height: 90%;
}

.item-img img {
  z-index: 5;
  width: 100%;
  height: 50%;
}

.item-name {
  padding-top: 1rem;
}

.item-price {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 7%;
}

.select-btn {
  padding-bottom: 1rem;
}

.select-btn button{
  display: inline-block;
  height: 5vh;
  border: 2px solid rgba(129, 91, 3, 0.81);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
}

.select-btn button:hover {
  background: rgba(129, 91, 3, 0.41);
}

/* list-section */
.list-section {
  position: relative;
  width: 100%;
  height: 50vh;
  /* outline: 2px solid limegreen; */
  background: rgba(129, 91, 3, 0.41);
}

.grid-container {
  height: 100%;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  /* outline: 3px solid red; */
}

.added-list {
  position: relative;
  height: calc(100% - 4rem);
  /* outline: 3px solid red; */
}

.added-item-con {
  height: 90%;
  padding: 1rem;
  margin-top: -1rem;
  /* outline: 2px solid dodgerblue; */
}

.added-item {
  position: relative;
  width: 90%;
  height: 90%;
  margin: 0.5rem auto;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.added-item.a {
  background-image: url('/images/airfryer.png');
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.added-item a {
  width: 100%;
  height: 100%;
  z-index: 5;
  color: white;
}

.added-item .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,0.3)
}

.added-list-msg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  font-size: 1.25rem;
  /* outline: 2px solid orange; */
}

/* item-details page */

/* ---------------------- */
/*  item header section   */
/* ---------------------- */
.item-header-section {
  position: relative;
  height: 30vh;
  text-align: start;
  /* outline: 2px solid limegreen; */
}

.item-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/images/airfryer.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-bg::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
}

.back-arrow {
  position: relative;
  top: 5px;
  left: 5px;
}

.item-title-box {
  position: absolute;
  bottom: 0;
  padding: var(--global--padding);
}

.item-title {
  color: white;
  font-size: 2em;
}

/* span style classes */
.item-tag-box {
  /* outline: 2px solid red; */
  width: 100%;
  justify-content: unset;
  margin: var(--clr-mb-small) 0;
  font-size: 0.625rem;
}

.together-tag,
.my-pick-tag,
.house-owner-tag {
  /* width:  */
  padding: 0.5em;
  margin-right: 0.8em;
  color: white;
  letter-spacing: 0.05em;
  font-weight: bold;
  border-radius: 8px;
}

.together-tag {
  font-weight: bold;
  letter-spacing: 0.05em;
  background: rgb(14, 160, 41);
}

.my-pick-tag {
  background:rgb(226, 42, 97)
}

.house-owner-tag {
  background: rgba(129, 91, 3);
}

.heart-tag {
  position: relative;
  padding: 0.5em;
  width: 2em;
  height: 2em;
  background-image: url('/images/heart.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.heart-tag span {
  position: absolute;
  right: -0.75em;
  font-size: 1.3em;
  font-weight: bold;
  color: white;
}
/* ---------------------- */
/*    item body section   */
/* ---------------------- */
.item-body-section {
  background: white;
  box-shadow: 0 0.5em rgba(0, 0, 0, 0.1);
}

.mode-notice {
  text-align: center;
  margin-top: 1rem;
}

.per-person-price-con {
  text-align: center;
}

.per-person-price-con .price {
  display: inline-block;
  padding: 1rem;
  font-size: 2.5em;
}

.mode-con {
  text-align: center;
  padding: var(--global--padding);
}

.mode-btn-box {
  justify-content: space-around;
}

.together-btn,
.my-pick-btn {
  width: 47.5%;
  padding: 1em 1.5em;
  font-size: 1.25em;
  color: white;
  white-space: nowrap;
  border-radius: 10px;
  font-weight: bold;
}

.together-btn {
  background: rgb(14, 160, 41);
}

.my-pick-btn {
  background:rgb(226, 42, 97);
}

.mode-msg {
  margin-left: 1rem;
}

.list {
  text-align: start;
  list-style: circle;
  font-size: 0.625em;
}


/* ---------------------- */
/*    item chat section   */
/* ---------------------- */
.item-chat-section {
  position: relative;
  width: 100%;
  padding: 1rem;
}

.chat-wrap {
  position: relative;

  /* outline: 2px solid limegreen; */
  width: 100%;
  height: 60vh;
  padding-bottom: 0;
  margin: 1rem 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  
}

.chat-log {
  width: 100%;
  height: 100%;
  overflow: auto;
  /* outline: 2px solid limegreen; */
}

.msg-con {
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  /* outline: 2px solid red; */
}

.user-id,
.user-location,
.msg-content {
  display: block;
}

.msg-img-box {
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.5em;
  border: 1px solid var(--clr-black);
  border-radius: 50%;
  overflow: hidden;
  /* outline: 2px solid red; */
}

.user-img {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('/images/blend-image-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.msg-content-box {
  width: 80%;
  padding-top: 0.8em;
  /* outline: 2px solid blue; */
}

.user-id {
  font-size: 0.9em;
}

.user-location {
  font-size: 0.2em;
  margin-bottom: 2em;
}

.reply-btn {
  display: block;
  text-align: start;
  width: 5em;
  height: 1.5em;
  padding: 0.1em 0.1em 0.1em 0;
}

.reply {
  padding: 1rem 1rem 0 0;
}


.chat-form {
  /* outline: 2px solid red; */
  /* padding: 1rem; */
  /* margin-top: 40vh; */
  position: absolute;
  width: 100%;
  z-index: 6;
  bottom: 0;
  border-top: 1px solid #ddd;
}

#message {
  display: inline-block;
  width: 85%;
  padding: 1em;
  border-radius: 10px;
  border: none;
}

#chat-btn {
  display: inline-block;
  padding: 1em;
  background: none;
  border-radius: 10px;
  border: none;
  /* outline: 2px solid red; */
}

#message:focus {
  outline: 0;
}

#reply-msg {
  display: inline-block;
  width: 70%;
  padding: 1em;
  border-radius: 10px;
  
}

#reply-btn {
  display: inline-block;
  padding: 1em;
  background: none;
  border-radius: 10px;
}

/* #message:focus:not(:focus-visible) {
  outline: none;
} */

@media (min-width: 45em) {
  .img-con {
    width: 20vw;
    height: 20vw;
  }

}