
/*--------------------*/
/*       reset        */
/*--------------------*/
@charset 'utf-8';

:root {
  /* padding */
  --global--pading: 0 1rem;

  /* colors */
  --clr-black: rgb(29, 29, 31);

  /* margin */
  --clr-mb-middle: 2rem;
  --clr-mb-large: 4rem;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem; /* 56px */
  --fs-700: 1.5rem; /* 24px */
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem; /* 15px */
  --fs-300: 1rem;
  --fs-200: 0.875rem;/* 14px */


}

html {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

/* ------------------- */
/*   Utility classes   */
/* ------------------- */
.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-r {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


/* Animation */
@keyframes pickAni {
  0% {
    top: 0;
  }

  100% {
    top: -300%;
  }
}



/*--------------------*/
/*      component     */
/*--------------------*/

nav {
  width: 100%;
  max-width: 100vw;
  height: 4rem;
  outline: 2px solid limegreen;
}

.primary-header {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  height : 100%;
}

.primary-header a {
  font-size: 0.8rem;
  padding: 0 1rem;
  color: var(--clr-black);
}

.primary-header .main-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: auto;
}

/* bg-section */
.bg-section {
  position: relative;
  width: 100%;
  height: 50vh;
  background: rgba(129, 91, 3, 0.81);
}

.profile-con {
  width: 100%;
  height: 100%;
  /* outline: 2px solid limegreen; */
}

.img-con {
  width: 50vw;
  height: 50vw;
  margin-bottom: var(--clr-mb-mid);
  background: rgba(205, 94, 148, 0.5);
  border-radius: 50%;
  border: 2px solid var(--clr-black);
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  background-image: url('/src/images/blend-image-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-name {
  font-size: clamp(1rem, 5vh, 10rem);
  font-weight: bold;
  letter-spacing: 1rem;
  text-indent: 1rem;
}

.btn-section {
  width: 100%;
  height: 50vh;
  background:rgb(220, 197, 188);
}

.btn-con {
  height: 100%;
  gap: 2rem;
}

.enter-con {
  padding: 3vh 0;
}

.enter-con .enter-btn {
  padding: 1rem;
  font-size: 3vh;
  border: 2px solid rgba(129, 91, 3, 0.81);
  border-radius: 10px;
  transition: .3s;
}
.enter-btn:hover {
  background: rgba(129, 91, 3, 0.81);
  color: white;
}


.sns-con {
  padding: 3vh 0;
  width: 125px;
  gap: var(--global--pading);
  /* outline: 2px solid limegreen; */
}

.sns-con img {
  border-radius: 50%;
}

/* onepick page */
.pick-1-con {
  position: relative;
  width: 15vw;
  height: 10vh;
  overflow: hidden;
  outline: 2px solid limegreen;
}


.pick-1-box {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  /* top: -100%; */
  top: -300%;
  left: 0;
  line-height: 1.5;
  /* animation: pickAni .4s infinite linear; */
  /* border: 2px solid limegreen; */
}

.pick-1-box span {
  height: 10vh;
  /* padding: 0.25rem; */
}




@media (min-width: 748px) {
  .img-con {
    width: 20vw;
    height: 20vw;
    margin-bottom: 0.5rem;
  }

}